<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>  
        <style>
                div.thumbnails{
                }
                div.thumbnails:before,
                div.thumbnails:after{
                    display: block;
                    content: '';
                    clear: both;
                }
        
                div.thumbnail{
                    width: 230px;
                    height: 300px;
                    background: #777;
                    float: left;
                    box-sizing: border-box;
                    padding: 10px;
                    position: relative;
                }
        
                div.thumbnail h1{
                    color: #fff;
                    margin:0;
                    margin-top:-5px;
                    font-size: 20px;
                }
        
                div.thumbnail p{
                    color: #fff;
                    margin:0;
                    margin-top:-5px;
                    font-size: 15px;
                }
        
                div.thumbnail:not(:nth-child(4)){
                    margin-right: 60px; 
                }
            </style>   
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <div class = "searchbar">
                    <div class = "search">
                        <img class = "search" src = "imgs/search.png">
                        <div class = "searchbox">
                            <img src = "imgs/search_bar.png", width = "870">
                        </div>
                    </div>
                    <div class = "searchtype">
                        <span>商品</span>
                    </div>
                </div>
                <div class = "section">
                    <div class = "linebar">
                        <span>熱門商品</span> <span>看更多&rarr;</span>
                    </div>
                    
                    <p>
                        <div class = "thumbnails">
                            
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            
                        </div>
                    </p>
                </div>
                
                <div class = "section">
                    <div class = "linebar">
                        <span>最新商品</span> <span>看更多&rarr;</span>
                    </div>
                    
                    <p>
                        <div class = "thumbnails">
                            
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            
                        </div>
                    </p>
                </div>
                
                <div class = "section">
                    <div class = "linebar">
                        <span>最近搜尋的商品</span> <span>看更多&rarr;</span>
                    </div>
                    
                    <p>
                        <div class = "thumbnails">
                            
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            <div class = "thumbnail">
                                <img src = "imgs/blank.jpg" width = 210>
                                <h1>商品名稱</h1>
                                <p>商品介紹</p>
                            </div>
                            
                        </div>
                    </p>
                </div>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</html>
