<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h2>目前使用者</h2>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            // after 2 seconds
            window.location = "/";
        }, 2000)
    </script>
</html>
