<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%> 
    </head>

    <body>
        <div class = "container">
            <div class = "header">
                <a href="/"><img src = "/images/LOGO.png" height="80" style="margin-left: 5%"></a>
                <ul class="log" style="margin-right: 5%">
                    <li><a href="/login">登入</a></li>
                    <li><a href="/register">註冊</a></li>
                </ul>
            </div>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h2>登出成功</h2>
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "/scripts/jquery/dist/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            // after 2 seconds
            window.location = "/";
        }, 2000)
    </script>
</html>
