<!DOCTYPE html>
<html>
    <head>
        <title>papapapapapa</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link href="/stylesheets/menu.css" rel="stylesheet"/>  
        <link href="/stylesheets/main.css" rel="stylesheet"/>    
    </head>

    <body>
        <div class = "container">
            <div class = "header">           
            </div>

            <div class = "navbar">
            </div>

            <div class = "content">
                <h1>商品清單</h1>

                <form action = "/product/query" method = "get">
                    <div class="form">
                        <span class="name">商品名稱: </span>
                        <span class="value"><input type="text" name="pronname"></span>
                        <br/>    
                                        
                        <span class="name"></span>
                        <span class="value"><input type="submit" value="查詢" ></span>    
                    </div>    
                </form>                    

                <% for(var i=0; i<items.length; i++) {%>
                    <div class = "list">
                            <img src = "pictures/item[i].jpg" , height = "150">
                            <a href="/product/one/<%= items[i].prono %>"> <h1>商品名稱: <%= items[i].proname %></h1></a>
                            <p>售價: <%= items[i].price %></p>
                            <h2>商品介紹: <%= items[i].description %></h2>
                    </div>
                <% } %>
            </div>

            <div class = "footer">
            </div>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src = "/js/public_div.js"></script>
</html>
