<!DOCTYPE html>
<html>
    <head>
        <title>papapapapapa</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link href="/stylesheets/menu.css" rel="stylesheet"/>  
        <link href="/stylesheets/main.css" rel="stylesheet"/>
        <style>
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button{ 
                -webkit-appearance: none; 
                margin: 0; 
            }
            input{
                box-sizing: border-box;
            }

            span.hint{
                position: relative;
                color: #757575;
                font-size: 15px;
                display: block;
                line-height:15px;
            }
            div.item{
                margin: 0;
                padding: 0;
                margin-bottom: 0.5em;
            }
            div.multiselect__tags,
            ul.multiselect__content{
                border-color: #aaa;
                padding-top:4px;
            }
        </style>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h2>產品新增 </h2>

                
                <form class = "form" enctype="multipart/form-data" action = "/product/add" method = "post">
                    <div class="form">

                        <div class = "left">
                            <div id="gallery"></div>
                            <span class="value"><input type="file" name="picture" id = "fileinput" accept = "image/*" style = "display: none;" /></span>
                            <input type="button" style = "width: 100px; height: 25px; margin-left: 150px; box-sizing: border-box;" value = "選擇圖片" onclick = "document.getElementById('fileinput').click();" />
                        </div>
                        
                        <div class = "right">
                            <div class = "item">   
                                <span class="value"><input type="text" name="proname" placeholder="請輸入商品名稱" autocomplete="off" style="font-size: 30px;" required></span>
                            </div>

                            <div class = "item">          
                                <span class="name">單價: </span>
                                <span class="value"><input type="number" name="price" placeholder="" style = "width: 50px" required></span>
                                <br/>
                                <span class="hint" style = "left: 40px;">(請輸入價格)</span>
                            </div>

                            <div class = "item">          
                                <span class="name">數量: </span>
                                <span class="value"><input type="number" name="amt" placeholder="" style = "width: 50px" required></span>
                                <br/>
                                <span class="hint" style = "left: 40px;">(請輸入數量)</span>
                            </div>

                            <div class = "item">                     
                                <span class="name">標籤: </span>
                                <span class="value">
                                    <div id="app-vue" style="width:350px;display:inline-block;">
                                        <multiselect width="300px" 
                                            v-model="selected"
                                            :options="options" :multiple="true" :taggable="true" @tag="addTag">
                                        </multiselect>
                                    </div>
                                </span>
                            </div>

                            <div class = "item">
                                <span class="name" style = "vertical-align: top">商品介紹: </span>
                                <span class="value"><textarea name="description" placeholder="請輸入文字" textarea cols="40" rows="7" maxlength="255" style = "margin-top: 2px; resize: none; font-size: 16px;"></textarea></span>
                                <br/>
                                <span class="hint" style = "left: 72px;">(最大字數限制為255個字)</span>
                            </div>
                            
                            <div class = "item">
                                <span class="name">付費方式: </span>
                                <span class="value"><input type="button" name="paymethod" value="選擇可行付費方式" ></span>
                            </div>
                        </div>

                        <span class="name"></span>
                        <span class="value"><input type="submit" value="新增" ></span>    
                    </div>
                    
                </form>  
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>

    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script>
    <script src='https://cdn.jsdelivr.net/vue.multiselect/2.0.0-beta.13/vue-multiselect.min.js'></script>

    

    <script  src="/js/multiselect.js"></script>
    
    <script>
        $("div.form").css("width", $("form.form").css("width"));
    </script>
    <script src = "/js/preview_image.js"></script>

</html>
