
<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
        <style>
            h1{
                margin-left: 400px;
                font-size: 60px;
            }

            div.item{
                margin-left: 350px;
                margin-bottom: 30px;
            }

            div.btn{
                margin-left: 430px;
            }
        </style>   
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">

                <h1>註冊</h1>

                <form action = "/user/register" method = "post">
                    <div class = "item">
                        <span class="name">帳號: </span>
                        <span class="value"><input type="text" name="account"></span>
                    </div>
                    
                    <div class = "item">
                        <span class="name">密碼: </span>
                        <span class="value"><input type="password" name="password"></span>
                    </div>

                    <div class = "item">
                        <span class="name">密碼確認: </span>
                        <span class="value"><input type="password" name="password2"></span>
                    </div>

                    <div class = "item">
                        <span class="name">Email: </span>
                        <span class="value"><input type="text" name="email"></span>
                    </div>

                    <div class = "item">
                        <span class="name">備用Email: </span>
                        <span class="value"><input type="text" name="backupemail"></span>
                    </div>

                    <div class = "item">
                        <span class="name">名字: </span>
                        <span class="value"><input type="text" name="memname"></span>
                    </div>
                            
                    <div class = "item">
                        <span class="name">暱稱: </span>
                        <span class="value"><input type="text" name="nickname"></span>
                    </div>

                    <div class = "item">
                        <span class="name">生日: </span>
                        <span class="value"><input class="max-today" id="max" type="date" placeholder="YYYY-MM-DD" data-date-split-input="true" name="birth"></span>
                    </div>

                    <div class = "item">
                        <span class="name">性別: </span>
                        <input type="radio" name="sex" value="M" checked> 男
                        <input type="radio" name="sex" value="F"> 女
                    </div>

                    <div class = "item">
                        <span class="name">電話: </span>
                        <span class="value"><input type="text" name="tel"></span>
                    </div>

                    <div class = "item">
                        <span class="name">地址: </span>
                        <span class="value"><input type="text" name="address"></span>
                    </div>

                    <div class = "btn">
                        <span class="name"></span>
                        <span class="value"><input type="submit" value="註冊" class="button"></span> 
                    </div>         
                </form>
            </div>
            <%- include('public/footer'); -%>
        </div>
    </body>



    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
        $(':input').change(function(){
            var acot = $(':input[name="account"]').val() != "";
            var pass = $(':input[name="password"]').val() != "" && $(':input[name="password"]').val() == $(':input[name="password2"]').val();
            var mail = $(':input[name="email"]').val() != "";
            var name = $(':input[name="memname"]').val() != "";
            var tel = $(':input[name="tel"]').val() != "";
            var add = $(':input[name="address"]').val() != "";

            if (acot && pass && mail && name && tel && add) {
                $(':input[type="submit"]').prop('disabled', false);
                $(':input[type="submit"]').css("background","var(--green)");
            }
            else {
                $(':input[type="submit"]').prop('disabled', true);
                $(':input[type="submit"]').css("background","#444");
            }
        })
        $(function(){
            $(':input[type="submit"]').prop('disabled', true);
            $(':input[type="submit"]').css("background","#444");
            $('[type="date"].max-today').prop('max', function(){
                return new Date().toJSON().split('T')[0];
            });
        })
    </script>
</html>