<!DOCTYPE html>
<html>
    <head>
        <%- include('public/head'); -%>
    </head>

    <body>
        <div class = "container">
            <%- include('public/header'); -%>

            <%- include('public/navbar'); -%>

            <div class = "content">
                <h2><i class="fa fa-ban" aria-hidden="true"></i>您無權限使用此功能!!</h2> 
            </div>

            <%- include('public/footer'); -%>
        </div>
    </body>
</html>
