@charset "utf-8";

/*---------------------------*/
/* 編排網頁                   */
/*---------------------------*/
html, body{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif; 
    padding: 0px;
    margin: 0px;
    background:#444;
}

/*---------------------------*/
/* 編排<容器>區塊             */
/*---------------------------*/
div.container{
    box-sizing: border-box;
}

/*---------------------------*/
/* 編排<標題>區塊             */
/*---------------------------*/
div.header{
    box-sizing: border-box;
    height:80px;
    background:url(../images/header.jpg);
}


/*---------------------------*/
/* 編排<內文>區塊             */
/*---------------------------*/
div.content{
    box-sizing: border-box;
    background:#fff;
    width:1000px;
    margin:0px auto 0px auto;
    box-shadow:0px 0px 10px 0px #000;
    min-height: calc(100vh - 80px - 80px - 3em);
    padding:20px 30px;    
    line-height:30px;
    text-align:justify;
}
div.navbar{
    box-sizing: border-box;
    text-align: center;
    background: #000;
    height: 3em;
}

div.footer{
    box-sizing: border-box;
    height:80px;
    background: #666;
    color: #fff;
    text-align: center;
    padding: 20px 30px;
    margin: 0px auto 0px auto;
}

div.footer p{
    margin-top: 0px;
}

/*---------------------*/
/* 修飾表格             */
/*---------------------*/
table{
    width:100%;
    border: 1px solid #666;
    border-collapse: collapse;    
}

table tr td{
    border: 1px dotted #666;    
    text-align: center;
}

/* 修飾標題列 */
table thead tr{
    height: 32px;
}

table thead th{
    border: 1px solid #666; 
    background: #aaa; 
    text-align: center;
}

/* 修飾資料列 */
table tbody tr{
    height: 40px;
}

table tbody tr:nth-child(even){
    background: #ccc;
}

/* 修飾超連結 */
table tbody tr td a{
    text-decoration: none;
    color: #000;
}

table tbody tr td a:hover{
    font-size: 19px;
    color: #333;
}


/*---------------------*/
/* 修飾分頁導覽列       */
/*---------------------*/
ul.pagination{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;    
    height:40px;
    line-height:40px;
    list-style-type: none;    
}

ul.pagination li{
    box-sizing: border-box;
    width:30px;
    float:left;
    padding: 0 10px;
    border-radius: 10px;
    margin: 0 10px;
}

ul.pagination li a{
    text-decoration: none;
    color: #000;
}

ul.pagination li a:hover{  
    color: #888;
    font-size:19px;
}

ul.pagination:after{
    display: block;
    content: '';
    clear: both;
}

/*---------------------*/
/* 修飾表單             */
/*---------------------*/
div.form{
    border: 1px dotted #666;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}
div.inline-block{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}
div.left{
    float: left;
    position: relative;
    margin-right: 2em;
}
div.right{
    float: left;
    position: relative;
    overflow: hidden;
}

div.left:before,
div.left:after,
div.right:before,
div.right:after {
    content: "";
    display:block;
    clear: both;
}

#gallery{
    border: 2px solid #444;
    width: 400px;
    height: 520px;
}


div.section{
    box-sizing: border-box;
	border: 1px solid #666;
    box-shadow:0px 0px 5px 0px #000;
    margin-bottom: 20px;
    height: 150px;
    padding: 0.5em;
}

div.section img{
    float: left;
    margin-right: 1em;
    box-shadow:0px 0px 3px 0px #000;
}
div.section img:before
div.section img:after{
	display: block;
	content: '';
	clear: both;
}

a{
    color: #000;
    text-decoration: none;
}

.searchbar{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}


.searchbar input[name="proname"]{
    box-sizing: border-box;
    margin: 0 0 0 0.5em;
    width: 600px;
    font-size: 30px;
    height: 40px;
}
.searchbar select{
    box-sizing: border-box;
    border: 2px inset;
    margin: 0 0.5em 0 -5px;
    font-size: 30px;
    height: 40px;
}
.searchbar input[type="submit"]{
    font-size: 30px;
    height: 40px;
}
.searchbar span{
    font-size: 30px;
}

ul.pagination{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}