<div class="footer">
    <p>Great Trade For Oysters GTFO 2018©</p>
    <a href="/feedback" style="color:#fff"><span>提供意見</span></a>
    <a href="/terms_and_privacy" style="color:#fff"><span>條款和隱私</span></a>
</div>