<div class = "navbar">


    <ul id="navigation">                  

        <a href="/">
            <li class="sub">
                    首頁
            </li>
        </a>

        <a href="/order/show/form">
            <li class="sub">
                我的訂單
            </li>
        </a>

        <li class="sub">         
            <a href="#">我的商品</a>          
            <ul>          
                <li><a href="/product/add/form">新增</a></li>
                <li><a href="/product/list">搜尋</a></li>
            </ul>
        </li>  
        <a href="/shoppingCart">
            <li class="sub">
                我的購物車
            </li>
        </a>
    </ul>
</div>