<div class = "navbar">


    <ul id="navigation">                  

        <a href="/">
            <li class="sub">
                <i class="fa fa-th-large" aria-hidden="true"></i> 首頁
            </li>
        </a>

        <a href="/order/show/form">
            <li class="sub">
                <i class="fa fa-th-list" aria-hidden="true"></i> 我的訂單
            </li>
        </a>

        <li class="sub">         
            <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> 商品</a>          
            <ul>          
                <li><a href="/product/add/form"><i class="fa fa-plus-square" aria-hidden="true"></i> 新增</a></li>
                <li><a href="/product/list"><i class="fa fa-search" aria-hidden="true"></i> 搜尋</a></li>
            </ul>
        </li>  
        <a href="/shoppingCart">
            <li class="sub">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> 我的購物車
            </li>
        </a>
    </ul>
</div>