<div class = "navbar">


    <ul id="navigation">                  

        <li class="sub">         
            <a href="#">會員</a>          
            <ul>          
                <li><a href="/customer/add/form">新增</a></li>
                <li><a href="/customer/remove/form">刪除</a></li>
                <li><a href="/customer/update/getOldData">更新</a></li>   
                <li><a href="/customer/query/form">查詢</a></li>     
                <li><a href="/customer/list">清單</a></li>                    
            </ul>
        </li>

        <li class="sub">         
            <a href="#">訂單</a>          
            <ul>          
                <li><a href="/product/list/add">新增</a></li>
                <li><a href="/product/list/remove/show">刪除</a></li>
                <li><a href="/product/list/show">檢視</a></li>   
                <li><a href="/payment">付費方式</a></li>            
            </ul>
        </li>  

        <li class="sub">         
            <a href="#">我的商品</a>          
            <ul>          
                <li><a href="/product/add/form">新增</a></li>
                <li><a href="/product/remove/form">刪除</a></li>
                <li><a href="/product/update/getOldData">更新</a></li>   
                <li><a href="/product/query/form">查詢</a></li>  
                <li><a href="/product/list">清單</a></li>  
                <li><a href="/product/page/1">分頁</a></li>                    
            </ul>
        </li>                
    </ul>
</div>