<div class = "navbar">
    <ul id="navigation">                  

        <li class="sub">         
            <a href="#">會員</a>          
            <ul>          
                <li><a href="/customer/add/form">新增</a></li>
                <li><a href="/customer/remove/form">刪除</a></li>
                <li><a href="/customer/update/getOldData">更新</a></li>   
                <li><a href="/customer/query/form">查詢</a></li>     
                <li><a href="/customer/list">清單</a></li>   
                <li><a href="/customer/page/1">分頁</a></li>                    
            </ul>
        </li>

        <li class="sub">         
            <a href="#">訂單</a>          
            <ul>          
                <li><a href="/employee/add/form">新增</a></li>
                <li><a href="/employee/remove/form">刪除</a></li>
                <li><a href="/employee/update/getOldData">更新</a></li>   
                <li><a href="/employee/query/form">查詢</a></li> 
                <li><a href="/employee/list">清單</a></li>  
                <li><a href="/employee/page/1">分頁</a></li>                    
            </ul>
        </li>  

        <li class="sub">         
                <a href="#">我的商品</a>          
                <ul>          
                    <li><a href="/product/add/form">新增</a></li>
                    <li><a href="/product/remove/form">刪除</a></li>
                    <li><a href="/product/update/getOldData">更新</a></li>   
                    <li><a href="/product/query/form">查詢</a></li>  
                    <li><a href="/product/list">清單</a></li>  
                    <li><a href="/product/page/1">分頁</a></li>                    
                </ul>
            </li>                

        <li class="sub">         
            <a href="#">用戶</a>          
            <ul>          
                <li><a href="/user/login">登入</a></li>
                <li><a href="/user/register">註冊</a></li>         
            </ul>
        </li>       
    </ul>
</div>